{% extends 'base.html' %}


{% block title %}{{tag.name}}{% endblock %}

{% block content%}
<div class="container">
    <h1>{{tag.name}}</h1>

    <ul>
        {% for post in tag.posts %}
        <li><a href="/users/posts/{{post.id}}">{{post.title}}</a></li>
        {% endfor %}
    </ul>
    
    <button type="button" id="editTagButton" class="btn btn-primary">Edit</button>
    <button type="button" id="deleteTagButton" class="btn btn-danger">Delete</button>
    <button type="button" id="viewAllTagsButton" class="btn btn-success">View All Tags</button>
    <button type="button" id="returnToUsersButton" class="btn btn-success">Go To Users</button>
</div>
<script type="text/javascript">
        document.getElementById("editTagButton").onclick = function () {
            location.href = "/tags/edit/{{tag.id}}";
        };
        document.getElementById("deleteTagButton").onclick = function () {
            location.href = "/tags/delete/{{tag.id}}";
        };
        document.getElementById("viewAllTagsButton").onclick = function () {
            location.href = "/tags";
        };
        document.getElementById("returnToUsersButton").onclick = function () {
            location.href = "/users";
        };
</script>

{% endblock %}