{% extends 'base.html' %}


{% block title %}{{user.first_name}} {{user.last_name}}{% endblock %}

{% block content%}
<img src="{{user.image_url}}" alt="Picture of {{user.first_name}} {{user.last_name}}">

<button id="editButton">Edit</button><button id="deleteButton">Delete</button>

<script type="text/javascript">
        document.getElementById("editButton").onclick = function () {
            location.href = "/users/<int:user.id>/edit";
        };
        document.getElementById("deleteButton").onclick = function () {
            location.href = "/users/<int:user.id>/delete";
        };
</script>

{% endblock %}