{% extends 'base.html' %}


{% block title %}Users{% endblock %}

{% block content%}
<h1 id="users">Users</h1>
<ul id="user-list">
    {% for user in users %}
    <li><a href="/users/{{user.id}}">{{user.get_full_name()}}</a></li>
    {% endfor %}
</ul>

<div id="button_container">
    <button type="button" id="addButton" class="btn btn-success">Add User</button>
</div>

<script type="text/javascript">
        document.getElementById("addButton").onclick = function () {
            location.href = "/users/new";
        };
</script>

{% endblock %}